* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(120, 203, 206);
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
}

form input {
    font-size: 24px;
    background-color: azure;
    border: none;
    border-radius: 10px;
    margin-right: 16px;
}

form input::placeholder {
    padding-left: 8px;
}

form input:focus {
    outline-color: blue;
}

form button {
    background-color: blue;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}